#tamanhoContainer{
    width: 500px;
    margin-top: 40px;
}


#botaoform{
    text-align: right;
}

#formstyle{
    margin-top: 20px;
}

#alertinseriranuncio{
    width: 500px;
    margin-top: 20px
}

#stylelista{
    margin-top: 20px
}


#btneditar{
    color: #fff;

}

